CONFIG_RTC_DRV_PCF85063=y
CONFIG_SENSORS_LM75=y
CONFIG_TCG_TPM=y
CONFIG_TCG_TIS_CORE=y
CONFIG_TCG_TIS_SPI=y

#
# Wireless module (Laird/ST60-2230C-UU) support settings.
#
# CONFIG_WLAN is not set
# CONFIG_WIRELESS is not set
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_ARC4=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_CCM=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_CMAC=y
CONFIG_CRC32=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRC16=y
CONFIG_CRYPTO_BLKCIPHER=y
